<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | Real-Time-Forum</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
        <script src="../static/forum.js"></script>
        <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
    </head>
    <body>
        <!-- User Registration Div -->
        <div class="animate" id="registration">
            <div class="auth-container">
                <!-- Illustration & Text -->
                <div class="left">
                    <img src="../static/img/auth/illustration.svg" alt="" />
                    <p class="title">Ready to Join<br />The Discussion?</p>
                    <p class="desc">Before you get started,<br />you’ll need to login.</p>
                </div>
                <!-- Registration UI -->
                <div class="right">
                    <lord-icon src="https://cdn.lordicon.com/rqqkvjqf.json" trigger="loop" delay="5000" colors="primary:#f3f7ff,secondary:#d4dceb" style="width: 75px; height: 75px"> </lord-icon>
                    <p class="title">Registration</p>
                    <p class="desc">Let’s get you started.</p>
                    <form action="" method="post">
                        <div class="name-wrapper">
                            <input type="text" name="first_name" id="first_name" placeholder="First Name" />
                            <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
                        </div>
                        <input type="email" id="email" placeholder="Email Address" />
                        <div class="age-username-wrapper">
                            <input type="text" name="username" id="username" placeholder="Username" />
                            <input type="text" name="age" id="age" placeholder="Age" />
                        </div>
                        <div class="password-gender-wrapper">
                            <input type="password" name="password" id="password" placeholder="Password" />
                            <!-- <input id="gender" placeholder="Gender" /> -->
                            <select id="gender" name="gender">
                                <option selected disabled hidden>Gender</option>
                                <option value="male" class="gender">Male</option>
                                <option value="female" class="gender">Female</option>
                            </select>
                        </div>
                        <div class="submit animate slide">
                            <button type="submit" name="register" id="register">Register</button>
                        </div>
                    </form>
                    <p class="sign-up-text">Already have an account?</p>
                    <a href="../templates/login.html">
                        <p class="sign-up-link" onclick="showLoginUI()">Sign In</p>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
